.cocinita {

    background-color: white;
}


.boxContainer {
    width: 26vw;
    height: 50vh;
    left: 67px;
    top: 234px;
    background: rgba(255, 255, 255, 0.281);
    border: 3px solid #326A3D;
    border-radius: 15px;
   
    
    justify-content:space-between ;
    text-align: center;
    padding: 3%;
}

.nombrePedido{
    margin-top: 2%;

    display: flex;
    justify-content: space-between;
    padding: 2%;


    width: 23vw;
    height: 5vh;
    background-color: transparent;
    border: 1px solid #326A3D;
    border-radius: 4px;
    color: #326A3D;
    font-weight: bold;
}

.title{
    width: 23vw;
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.orderContainer{
    width: 23vw;
    
    display: flex;
    justify-content: space-between;
    padding: 2%;
   
}
.kitchenButtons{
  justify-content: flex-end;

}