.Kitchen{
    background-color: #FFFFE3 ;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.containerOrders {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
   
    overflow-x: scroll;
    padding: 2%;
    gap: 2%;
    */
    margin-top: -4vw;
    /* border: 2px solid #326A3D;  */
    width: 95vw;
    height: 64vh;
    padding: 2%;
    display: grid;
    gap: var(--size-3);
    grid-auto-flow: column;
    grid-auto-columns: 37%;
    overflow-x:auto;
    padding: 5%;
    overflow-y:hidden;

  }






  .buttonContainer{
    display: flex;
    gap:25%;
    margin-right: 3%;
    margin-top: 1%;   
}


 .meseroVista{
    display: flex;
    padding: 5% 5% 5% 5%;
    justify-content: space-between;
}

.homeIcon{
    color:#326A3D ;
    width: 30px;
    
}
.kitchenIcon{
    color:#FB6240 ;
    width: 30px;
    
}
.cocina{
    border: 2px solid #FB6240 ;
    background-color: transparent;
    width: 4vw;
    height: 6vh;
    font-size: 1.6vw;
    border-radius: 5px;   
}

.home{
    border: 2px solid #326A3D ;
    background-color: transparent;
    width: 4vw;
    height: 6vh;
    font-size: 1.6vw;
    border-radius: 5px;
}

.headerstyle{
    display: flex;
}

.nombreApp{
 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5vW;
    font-weight: bold;
    color: #326A3D;
    
    

}



.mesero{
    background-color: #326A3D;
    border: none;
    width: 3.66vw;
    height: 6.4vh;
    font-size: 1.6vw;
    border-radius: 5px;
    cursor: pointer;
    
}